<div class="quienes-somos">
    <div class="texto-recuadro">
      <p>Softtek es una empresa líder de soluciones digitales que nació con el propósito de generar valor a través de la tecnología. De origen mexicano, nacimos en Argentina en 1997, contando con 25 años de trayectoria en el país y un equipo de más de 800 personas. Somos uno de los principales partners de SAP y Microsoft en Argentina y contamos con una oferta de servicios propios que incluye tecnologías como RPA, Devops, Gestión de Aplicaciones, entre otros.</p>
  
      <p>Nuestra red de clientes en el país está compuesta por empresas que son líderes en sus industrias, a las cuales acompañamos en sus procesos de transformación tecnológica a lo largo de todos estos años.</p>
    </div>
  </div>
  